extends layout

block content
    // Hero Header
    .container-xxl.py-5.bg-dark.hero-header.mb-5
        .container.text-center.my-5.pt-5.pb-4
            h1.display-3.text-white.mb-3.animated.slideInDown Over ons
            nav(aria-label="breadcrumb")
                ol.breadcrumb.justify-content-center.text-uppercase
                    li.breadcrumb-item
                        a(href="/") Home
                    li.breadcrumb-item
                        a(href="#") Pagina's
                    li.breadcrumb-item.text-white.active(aria-current="page") Over ons

    // About Section
    .container-xxl.py-5.bg-white
        .container
            .row.g-5.align-items-center
                .col-lg-6
                    .row.g-3
                        .col-6.text-start
                            img.img-fluid.rounded.w-100.wow.zoomIn(data-wow-delay="0.1s" src="images/tennis1.jpg")
                        .col-6.text-start
                            img.img-fluid.rounded.w-75.wow.zoomIn(data-wow-delay="0.3s" src="images/tennis2.jpg" style="margin-top: 25%;")
                        .col-6.text-end
                            img.img-fluid.rounded.w-75.wow.zoomIn(data-wow-delay="0.5s" src="images/tennis3.jpg")
                        .col-6.text-end
                            img.img-fluid.rounded.w-100.wow.zoomIn(data-wow-delay="0.7s" src="images/tennis4.jpg")

                .col-lg-6
                    h5.section-title.ff-secondary.text-start.text-primary.fw-normal Over ons
                    h1.mb-4
                        | Welkom bij
                        i.fa.fa-tennis-ball.text-primary.me-2
                        | Tennis dubbelspel Gent
                    p.mb-4 Wat begon als een spontane zoektocht onder vrienden, groeide uit tot een hartverwarmend initiatief. Enkele jaren geleden wilden wij als hechte vriendengroep deelnemen aan een dubbelspeltoernooi. We waren op zoek naar een evenement waar plezier, sportiviteit en toegankelijkheid centraal stonden—een plek waar iedereen welkom was, ongeacht niveau, leeftijd of achtergrond.
                    p.mb-4 Tot onze verbazing vonden we in de regio geen toernooi dat aan die waarden voldeed. In plaats van onze plannen op te bergen, besloten we het heft in eigen handen te nemen. Zo ontstond het idee om zelf een dubbelspeltoernooi te organiseren: laagdrempelig, inclusief en vooral met een gezellige sfeer waarin vriendschap en fair play primeren.
                    p.mb-4 Wat begon als een kleinschalig initiatief onder vrienden, groeide uit tot een jaarlijks terugkerend evenement waar spelers van alle hoeken samenkomen om te genieten van sport, ontmoeting en verbondenheid.

                    .row.g-4.mb-4
                        .col-sm-6
                            .d-flex.align-items-center.border-start.border-5.border-primary.px-3
                                h1.flex-shrink-0.display-5.text-primary.mb-0(data-toggle="counter-up") 5de
                                .ps-4
                                    p.mb-0 Editie

                        .col-sm-6
                            .d-flex.align-items-center.border-start.border-5.border-primary.px-3
                                h1.flex-shrink-0.display-5.text-primary.mb-0(data-toggle="counter-up") 150
                                .ps-4
                                    p.mb-0 Deelnemers