extends layout

block content
    .container-xxl.px-0.bg-dark
        .py-5.d-flex.align-items-center.justify-content-center
            .row.m-2.p-5.m-5
                h1.text-white Mijn team
                .p-0.py-5
                    table.table.table-borderless.table-striped.rounded-4.overflow-hidden.shadow-lg#teamsTable
                        tr.p-0.table-warning
                            th Team
                            th Speler 1
                            th Speler 2
                    .col-12
                            button#leaveTeamBtn.btn.btn-primary.w-100.py-3 Stap uit team






block scripts
    script(src="/scripts/jouwTeam.js")