extends layout

block content
    .container-xxl.px-0.bg-dark
        .py-5.d-flex.align-items-center.justify-content-center
            .row.m-2.p-5.m-5
                h1.text-white Mijn Account
                .p-0.py-5.d-flex.justify-content-center.align-self-center
                    #test
                    .text-white.text#user-info

block scripts
    script(src="/scripts/mijnAccountPage.js")