nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.px-4.px-lg-5.py-3.py-lg-0
    a.navbar-brand.p-0(href="/")
        h1.text-primary.navbar-title.m-0
            span.material-symbols-outlined.fs-2.me-3 sports_tennis
            | Gent's dubbelspel
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse")
        span.fa.fa-bars
    .collapse.navbar-collapse#navbarCollapse
        .navbar-nav.ms-auto.py-0.pe-4#navbarFirstPart
            a.nav-item.nav-link(href="/index") Home
            a.nav-item.nav-link(href="/about") Over ons
            a.nav-item.nav-link(href="/teams") Teams
            a.nav-item.nav-link(href="/allPlayers") Spelerslijst
            // Restricted links - only show when logged in
            //a.nav-item.nav-link.nav-link-restricted(href="/jouwTeam" style="display: none;") Jouw team
            //a.nav-item.nav-link.nav-link-restricted(href="/newTeam" style="display: none;") Maak team aan
            a.nav-item.nav-link.nav-link-restricted(href="/teamButton" style="display: none;") Mijn team
            a.nav-item.nav-link.nav-link-restricted(href="/mijnAccountPage" style="display: none;") Mijn account
        .btn-group#accountOptions(role="group" aria-label="Account buttons")
            a.btn.btn-outline-warning.py-2.px-4(href="/loginPage") Inloggen
            a.btn.btn-danger.btn-outline-warning.py-2.px-4.text-dark(href="/registerPage") Maak je spelersaccount
