extends layout

block content
    // Hero Header
    .container-xxl.py-5.bg-dark.hero-header.mb-5
        .container.text-center.my-5.pt-5.pb-4
            h1.display-3.text-white.mb-3.animated.slideInDown Teams
            nav(aria-label="breadcrumb")
                ol.breadcrumb.justify-content-center.text-uppercase
                    li.breadcrumb-item
                        a(href="#") Home
                    li.breadcrumb-item
                        a(href="#") Pagina's
                    li.breadcrumb-item.text-white.active(aria-current="page") Teams

    // Teams Table
    .container-xxl.px-0.bg-dark
        .py-5.d-flex.align-items-center.justify-content-center
            .row.m-2.p-5.m-5
                table#teamsTable
                    tr
                        th Team
                        th Eerste speler
                        th Tweede speler

                button.btn.btn-primary#teamNameSort Sorteer op teamnaam
                button.btn.btn-primary#lastNameSort refresh

block scripts
    script(src="/scripts/teamsPage.js")